ul{
    list-style: none;
}
/*<dark_mode>*/
hstml{
	background-color: rgb(30,30,30);
	color: white;
}
a, a:visited{
	color: rgb(150, 200, 255);
}
a:visited{
	color: rgb(200, 150, 255);
}

/*</dark_mode>*/

.bubble {
	padding: 10px;
	border-radius: 10px;
}
img.bubble{
	padding: 0px;
}

.foggy-gray-bg{
	background-color: #92878749;
}


/* </Paul's Styles> */
a.green-button, .green-button {
    background: #69c181;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    color: #ffffff;
    display: inline-block;
    font: normal bold 26px/50px "Open Sans", sans-serif;
    text-align: center;
    text-decoration: none;
    margin: 6px;
    border: none;
}

.smallGreenButton {
    background: #69c181;
    border-radius: 10px;
    width: 100px;
    height: 25px;
    color: #ffffff;
    display: inline-block;
    font: normal bold 12px/25px "Open Sans", sans-serif;
    text-align: center;
    text-decoration: none;
    margin: 6px;
    border: none;
}

a{
	color: saddlebrown;
	white-space: nowrap;
}


div#app{
  

}
